@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root{
    --mensajeCopiado:linear-gradient(to right top,
    #2ae12a, #21cd20, #18ba16, #0da70b, #009400);
    --fondoCajalateral:#131313;
    --opacidadFondo:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
}
body{
    background-image: var(--opacidadFondo),url(images/fondo.jpg);
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar_main{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    text-align: center;
}
h1 {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    margin: auto;
    color: #F3F5FC;
    font-size: 20px;
    width: 18ch;
    animation: typing 2s steps(18), blink .5s infinite step-end alternate;
    overflow:hidden;
    }
@keyframes typing {
    from { width: 0}
}
@keyframes blink {
    50% { border-color: transparent}
}
section{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    transition: 1.3s;
    overflow-x: hidden;
}
/*estilos caja de texto*/
section .texto{
    display: flex;
    width: 800px;
    height: 600px;
    padding: 30px;
    justify-content:center;
    flex-wrap: wrap;
}
.area textarea{
    font-family:'Poppins', sans-serif;
    width: 98%;
    max-width: 100%;
    height: 250px;
    max-height: 350px;
    border: solid 3px transparent;
    border-radius: 25px;
    outline: 3px transparent;
    background-color: transparent;
    color:#ffffff;
    font-size: 1.5em;
    resize: none;
    text-transform: lowercase;
    margin-left: 25px;
}
/*estilos advertencia*/
div.advertencia{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: #E9ECF8;
}
#icon_alert{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
/*estilos botones*/
button.encriptar{
    width: 300px;
    height: 60px;
    border-radius: 24px;
    border: none;
    background:#006e23;
    color: #F3F5FC;
    font-size: 1.2em;
    cursor: pointer;
    margin:0 auto;
}
button#desEncriptar{
    background: var(--fondoCajalateral);
    border: none;
    color: #F3F5FC;
}
button:hover{
    background: #131313;
    color: #F3F5FC;
}
#desEncriptar:hover{
    background: #006E23;
}
/*estilos caja derecha*/
.texto2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    width: 270px;
    text-align: center;
    height: 530px;
    background: var(--fondoCajalateral);
    color: #F3F5FC;
    border-radius: 24px;
    transition: 1.3s;
}
.texto2 img{
    width: 270px;
}
#resultado_main{
    display: none;
}
#result{
    width: 250px;
    margin: 0;
    color: #F3F5FC;
}
.texto2 #copiar{
    width: 300px;
    height: 60px;
    background:#006e23;
    border-radius: 24px;
    margin-top: 66%;
    color: #F3F5FC;
    font-size: 1.2em;
    border: none;
}
.texto2 #copiar:hover{
    cursor:pointer;
}
/*estilos de copiado error y no hay texto para copiar*/
#exito{
    display: none;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: #fff;
    height: 30px;
    border-radius: 24px;
    background: var(--mensajeCopiado);
    transition: 1.3s;
}
#exito2{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border-radius: 24px;
    background-color: #0A3871;
}
#exito3{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border-radius: 24px;
    background-color: #0A3871;
}
p#green{
    color: #ced4da;
    font-size: 15px;
}
/*estilos footer*/
footer{
    background-color: transparent;
    position: sticky;
    padding: 20px;
    text-align: center;
    color: #F3F5FC;
    margin-top: 20px;
}
footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}
li {
    padding: 20px;
    text-decoration: none;
}
/*estilos iconos redes*/
a:link, a:visited, a:active{
    color:#E9ECF8;
    text-decoration: none;
}
a:hover{
    color: #ced4da;
}
ion-icon{
    width: 50px;
    height: 50px;
}
/*barra scroll firefox*/
* {
    scrollbar-width: thin;
    scrollbar-color:#006e23 #131313;
}
/*barra de scroll chrome*/
::-webkit-scrollbar{
    background-color: #131313;
    width: 11px;
}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom, #006e23, #458620, #779d1c, #abb31d, #e2c628);
    border-radius: 5px;
}
